@import '../../assets/styles/colors';

.landing {
  .hero {
    max-height: 1080px;
    min-height: 700px;
    height: calc(100vh - 4rem);
    background-image: url(../../assets/img/hero.jpg);
    background-position: 50%;
    background-size: cover;
  }
  .abonos {
    padding-top: 4rem;
    color: white;
    .tarjetas-precios {
      display: flex;
      padding: 3rem 1rem;
    }
  }
}

@media only screen and (min-width: 600px) {
  .landing {
    .hero {
      .content {
        padding: 87px 0;
      }
    }
    .abonos {
      padding-top: 4rem;
      .tarjetas-precios {
        display: flex;
        padding: 2rem;
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  .landing {
    .hero {
      .content {
        padding: 145px 0;
      }
    }
  }
}
