@import '../../assets/styles/colors';

.landing {
    .abonos {
        padding-top: 4rem;
        color: white;
        .tarjetas-precios {
            display: flex;
            padding: 3rem 1rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    .landing {
        .abonos {
            padding-top: 4rem;
            .tarjetas-precios {
                display: flex;
                padding: 2rem;
            }
        }
    }
}
