@import '../../assets/styles/colors';

@media only screen and (max-width: 600px) {
    .carrusel-item {
        height: 15.75rem;
        background-color: rgba($color: black, $alpha: .2);
    }
    .carousel-caption {
        .MuiTypography-h3 {
            font-size: 1rem;
        }
        .MuiButton-root {
            font-size: 0.75rem;
        }
    }
}